*.tmp
proxy/build
benchmark/build
test/sink_server
test/slow_server
test/yarmnc
test/config_test
test/redis_protocol_test
test/yarmproxy.conf
test/memcached/data_gen
test/redis/marshal_*
!test/redis/marshal_*.c
test/redis/dump.rdb
benchmark/*.output
proxy/reload_backend_conf.sh
